body{
    display: flexbox;
    margin: 0px;
    padding: 0px;
    align-items: center;

    background-image: url("./images/Dark\ Forest\ _\ 4k\ wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    overflow-y: auto;
}

.navbar-nav li {
    transition: background-color 0.3s;
  }
  
  .navbar-nav li:hover {
    background-color: #4D5AA2;
  }
  
  .navbar-nav li a {
    transition: color 0.3s;
  }
  
  .navbar-nav li a:hover {
    color: #fff;
  }

  header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 

  }
.navbar {
  background-color:#0504045a; 
}
  


*{
  margin: 0;
  padding: 0;
}

h1{
  margin :0.3em;
  font-size: 3em;
}
 h2{
  margin-bottom: 0.5em;
 }

 .title{
  text-align: center;
 }

 .title p{
  font-size: 1.3em;
  letter-spacing: 2px;
 }

 .timeline{
  margin: 5em auto;
  max-width:34.15em ;
 }

 .checkpoint{
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
 }

 .checkpoint div{
  border: 2px solid #888;
  border-radius: 2em;
  padding: 1.5em;
 }

 .checkpoint p{
  line-height: 27px;
  color: "#ccc";
 }

 .checkpoint:nth-child(odd){
  border-left:  3px solid #888;
  padding-left: 3em;
  transform:translateX(17em);
 }

 .checkpoint:nth-child(even){
  border-right: 3px solid #888;
  padding-right: 3em;
  transform:translateX(-17em);

 }

 .checkpoint:nth-child(odd)::before,
 .checkpoint:nth-child(even)::before{
  content: '';
  background: #888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 }

 .checkpoint:nth-child(odd)::before{
  left: 0;
 }

 .checkpoint:nth-child(even)::before{
  right: 0;
 }

 .checkpoint:nth-child(odd) div::before,
 .checkpoint:nth-child(even) div::before{
  content: '';
  background: #fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
 }

 .checkpoint:nth-child(odd) div::before{
  left: -0.5em;
 }

 .checkpoint:nth-child(even) div::before{
  right: -0.5em;
 }

 @media screen and (max-width:1150px){
  .timeline{
    width: 80vw;
  }
  .timeline .checkpoint{
    width: 100%;
    transform :none;
    padding-left: 0;
    padding-right: 0;
    border:none;
  }

  .timeline .checkpoint::before{
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before{
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
 }